a {color:red;}

/* ------------------- Info.html -> Cirkel Diagram / Tekst ------------------- */

.Cdiagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 500px;
  margin: 0 auto;
  outline: 1px solid #ccc;
  box-shadow: 5px 5px;
}

.Cdiagram-container p{
width: 300px;
}

.Cdiagram-container h3{
width: 275px;
align-items: center;
}

.Cdiagram1 {
    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          white 0
       ),
       conic-gradient(
          #4e79a7 0,
          #4e79a7 46.6%,
          #f28e2c 0,
          #f28e2c 100%
    );
    position: relative;
    width: 100%;
    min-height: 350px;
    outline: 1px solid #ccc;
}
.Cdiagram1 h2 {
    position: absolute;
    margin: 15px;
}
.Cdiagram1 figcaption {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: smaller;
    text-align: right;
}
.Cdiagram1 span:after {
    display: inline-block;
    content: "";
    width: 11px;
    margin-left: 6px;
    height: 11px;
    border-radius: 3px;
    background: currentColor;
}
/* Cdiagram1 */


.Cdiagram2 {
    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          white 0
       ),
       conic-gradient(
          #4e79a7 0,
          #4e79a7 72%,
          #f28e2c 0,
          #f28e2c 100%
    );
    position: relative;
    width: 100%;
    min-height: 350px;
    outline: 1px solid #ccc;
}
.Cdiagram2 h2 {
    position: absolute;
    margin: 15px;
}
.Cdiagram2 figcaption {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: smaller;
    text-align: right;
}
.Cdiagram2 span:after {
    display: inline-block;
    content: "";
    width: 11px;
    margin-left: 6px;
    height: 11px;
    border-radius: 3px;
    background: currentColor;
}
/* Cdiagram2 */


.Cdiagram3 {
    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          white 0
       ),
       conic-gradient(
          #4e79a7 0,
          #4e79a7 92.6%,
          #f28e2c 0,
          #f28e2c 100%
    );
    position: relative;
    width: 100%;
    min-height: 350px;
    outline: 1px solid #ccc;
}
.Cdiagram3 h2 {
    position: absolute;
    margin: 15px;
}

.Cdiagram3 figcaption {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: smaller;
    text-align: right;
}
.Cdiagram3 span:after {
    display: inline-block;
    content: "";
    width: 11px;
    margin-left: 6px;
    height: 11px;
    border-radius: 3px;
    background: currentColor;
}
/* Cdiagram3 */

/* ------------------- Info.html -> Cirkel Diagram / Tekst - END------------------- */