/* ------------------- All -> Nav Bar ------------------- */

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;

}
ul li {
    float: left;
}
ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.6);
}

.grid{
    display: flex;
    flex-wrap: wrap;
}
.box{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 32%;
    min-width: 250px;
    max-width: 700px;
    margin: 5px;
    align-items: center;
}
.box p{
    margin: 10px;
}

/* ------------------- All -> Nav Bar - END ------------------- */

/* ------------------- Info.html -> Cirkel Diagram / Tekst ------------------- */

/*
.Cdiagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin: 0 auto;
  outline: 1px solid #ccc;
  box-shadow: 5px 5px;
}

.Cdiagram-container p{
width: 300px;
}

.Cdiagram-container h3{
width: 275px;
align-items: center;
}
*/
.box {
background: white;
}

.Cdiagram1 {
    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          white 0
       ),
       conic-gradient(
          #4e79a7 0,
          #4e79a7 46.6%,
          #f28e2c 0,
          #f28e2c 100%
    );
    position: relative;
    width: 99%;
    min-height: 350px;
}

.Cdiagram1 h2 {
    position: absolute;
    margin: 15px;
}
.Cdiagram1 figcaption {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: smaller;
    text-align: right;
}
.Cdiagram1 span:after {
    display: inline-block;
    content: "";
    width: 11px;
    margin-left: 6px;
    height: 11px;
    border-radius: 3px;
    background: currentColor;
}
/* Cdiagram1 */


.Cdiagram2 {
    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          white 0
       ),
       conic-gradient(
          #4e79a7 0,
          #4e79a7 72%,
          #f28e2c 0,
          #f28e2c 100%
    );
    position: relative;
    width: 99%;
    min-height: 350px;
}
.Cdiagram2 h2 {
    position: absolute;
    margin: 15px;
}
.Cdiagram2 figcaption {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: smaller;
    text-align: right;
}
.Cdiagram2 span:after {
    display: inline-block;
    content: "";
    width: 11px;
    margin-left: 6px;
    height: 11px;
    border-radius: 3px;
    background: currentColor;
}
/* Cdiagram2 */


.Cdiagram3 {
    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          white 0
       ),
       conic-gradient(
          #4e79a7 0,
          #4e79a7 92.6%,
          #f28e2c 0,
          #f28e2c 100%
    );
    position: relative;
    width: 99%;
    min-height: 350px;
}
.Cdiagram3 h2 {
    position: absolute;
    margin: 15px;
}

.Cdiagram3 figcaption {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: smaller;
    text-align: right;
}
.Cdiagram3 span:after {
    display: inline-block;
    content: "";
    width: 11px;
    margin-left: 6px;
    height: 11px;
    border-radius: 3px;
    background: currentColor;
}
/* Cdiagram3 */

/* ------------------- Info.html -> Cirkel Diagram / Tekst - END------------------- */

.form-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto 50px auto;
    outline: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto 50px auto;
}

form button {
    width: 33%;
}
textarea {
    resize: vertical;
}
