a {color:red;}

.Cdiagram1 {
    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          white 0
       ),
       conic-gradient(
          #4e79a7 0,
          #4e79a7 46.6%,
          #f28e2c 0,
          #f28e2c 100%
    );
    position: relative;
    width: 500px;
    min-height: 350px;
    margin: 0;
    outline: 1px solid #ccc;
}
.Cdiagram1 h2 {
    position: absolute;
    margin: 1rem;
}
.Cdiagram1 figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
}
.Cdiagram1 span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
}
/* Cdiagram1 */


.Cdiagram2 {
    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          white 0
       ),
       conic-gradient(
          #4e79a7 0,
          #4e79a7 72%,
          #f28e2c 0,
          #f28e2c 100%
    );
    position: relative;
    width: 500px;
    min-height: 350px;
    margin: 0;
    outline: 1px solid #ccc;
}
.Cdiagram2 h2 {
    position: absolute;
    margin: 1rem;
}
.Cdiagram2 figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
}
.Cdiagram2 span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
}
/* Cdiagram2 */


.Cdiagram3 {
    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          white 0
       ),
       conic-gradient(
          #4e79a7 0,
          #4e79a7 92.6%,
          #f28e2c 0,
          #f28e2c 100%
    );
    position: relative;
    width: 500px;
    min-height: 350px;
    margin: 0;
    outline: 1px solid #ccc;
}
.Cdiagram3 h2 {
    position: absolute;
    margin: 1rem;
}

.Cdiagram3 figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
}
.Cdiagram3 span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
}
/* Cdiagram3 */


.Cdiagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}