/* ------------------------  Generelt --------------------- */
* {
    font-family: Arial, sans-serif;
}
h1{
    color: #2d5a27;
}
h2{
    color: #2d5a27;
}
h3{
    color: #2d5a27;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}

.overskrift{
    margin: auto auto auto 20px;
    padding: 10px;
}

.overskriftBoks{
    margin: 70px auto auto auto;
    outline: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

button {
    margin: 5px auto;
    display: block;
    background-color: #469319;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    width: 33%;
    padding: 5px;
}

button:hover {
    background-color: #2d5a27;
}

.form-container input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-container a{
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container textarea {
    width: 100%;
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 70px auto 125px auto;
    outline: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px auto 50px auto;
}

textarea {
    resize: vertical;
}



/* ------------------------  Generelt END --------------------- */



/* ------------------- All -> Nav Bar ------------------- */

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d5a27;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 40px 150px rgba(0,0,0,0.1);
    position: fixed;
     top: 0;
     width: 99%;
     z-index: 1030;
     box-sizing: border-box;

}
ul li {
    float: left;
}
ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.6);
}

ul li a.active{
    background-color: #469319;
}

/* ------------------- All -> Nav Bar - END ------------------- */


/* ----------------------------- Index ------------------------------- */
.hero-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    color: white;
}

.hero-section h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.hero-section p {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
}

.hero-container {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: 55px;
}

.hero-image {
    background-image: url('assets/pictures/ZeroWaste.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.content-wrapper {
    max-width: 900px;
    margin: 0px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.content-wrapper h2 {
    clear: both;
    width: 100%;
    display: block;
    color: #2d5a27;
    border-bottom: 2px solid #2d5a27;

}

.content-wrapper ul {
    margin-bottom: 20px;
}

.content-wrapper li {
    margin-bottom: 10px;
}

.content-wrapper article {
    display: flex;
    flex-direction: column;
}
/* ----------------------------- Index END------------------------------- */


/* ------------------- Info.html -> Cirkel Diagram / Tekst ------------------- */

.Cdiagram-container h3{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 50px auto 50px auto;
    outline: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    text-align: center;
}

.box {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    box-shadow: 0 40px 150px rgba(0,0,0,0.1);
    max-width: 600px;
    margin-top: 45px;
    margin-left: 15px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 32%;
    min-width: 250px;
    align-items: center;
}

.box p{
    margin: 10px;
}

.Cdiagram1 {
    margin-top: 10px;
    width: 80%;
    aspect-ratio: 1/1;

    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          transparent 61%
       ),
       conic-gradient(
          #4e79a7 0 46.6%,
          #2d5a27 0 100%
    );
    border-radius: 50%;
    filter: drop-shadow(0 8px 15px rgba(0,0,0, 0.5));
    position: relative;
    width: 80%;
}

.Cdiagram1 figcaption {
    position: relative;
    bottom: 15px;
    right: 15px;
    font-size: smaller;
    text-align: right;

    margin-top: 85%;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 64%;
    padding-right: 10px;
    width: 160px;

}
.Cdiagram1 span:after {
    display: inline-block;
    content: "";
    width: 11px;
    margin-left: 6px;
    height: 11px;
    border-radius: 3px;
    background: currentColor;
    box-shadow: rgba(17,12,46,0.5) 1px 1px 0px 1px;
}
/* Cdiagram1 */


.Cdiagram2 {
    margin-top: 10px;
    width: 80%;
    aspect-ratio: 1/1;

    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          transparent 61%
       ),
       conic-gradient(
          #4e79a7 0 72%,
          #2d5a27 0 100%
    );
    border-radius: 50%;
    filter: drop-shadow(0 8px 15px rgba(0,0,0, 0.5));
    position: relative;
    width: 80%;
}

.Cdiagram2 figcaption {
    position: relative;
    bottom: 15px;
    right: 15px;
    font-size: smaller;
    text-align: right;

    margin-top: 85%;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 70%;
    padding-right: 10px;
    width: 135px;
}
.Cdiagram2 span:after {
    display: inline-block;
    content: "";
    width: 11px;
    margin-left: 6px;
    height: 11px;
    border-radius: 3px;
    background: currentColor;
    box-shadow: rgba(17,12,46,0.5) 1px 1px 0px 1px;

}
/* Cdiagram2 */


.Cdiagram3 {
    margin-top: 10px;
    width: 80%;
    aspect-ratio: 1/1;

    background:
       radial-gradient(
          circle closest-side,
          transparent 60%,
          transparent 61%
       ),
       conic-gradient(
          #4e79a7 0 92.6%,
          #2d5a27 0 100%
    );
    border-radius: 50%;
    filter: drop-shadow(0 8px 15px rgba(0,0,0, 0.5));
    position: relative;
    width: 80%;
}

.Cdiagram3 figcaption {
    position: relative;
    bottom: 15px;
    right: 15px;
    font-size: smaller;
    text-align: right;

    margin-top: 85%;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 40%;
    padding-right: 10px;
    width: 250px;
}
.Cdiagram3 span:after {
    display: inline-block;
    content: "";
    width: 11px;
    margin-left: 6px;
    height: 11px;
    border-radius: 3px;
    background: currentColor;
    box-shadow: rgba(17,12,46,0.5) 1px 1px 0px 1px;
}
/* Cdiagram3 */

/* ------------------- Info.html -> Cirkel Diagram / Tekst - END------------------- */


/* ---------------------- Event Page --------------------------------- */

.eventPage {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    max-width: 1400px;
    margin: 10px auto;
    padding: 0 20px;
}
.eventsLeft {
    flex: 1;
    margin-bottom: 100px;
}
.eventsRight {
    width: 400px;
    flex-shrink: 0;
}
.event{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 300px;
    margin: 50px auto auto auto;
    margin-inside: 5px;
    outline: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 40px 150px rgba(0,0,0,0.1);
}
.eventText{
    margin: 10px;
}
.event:hover{
    outline: 1px solid black;
}
/* ---------------------------- Event Page END --------------------------------*/
footer {
    background-color: #2d5a27;
    color: white;
    text-align: center;
    padding: 20px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}